<h1>Add new student</h1>

<p>Student's name</p>
<input type="text" name="name" id="name"/>

<p>Student's last name</p>
<input type="text" name="lastName" id="lastName"/>

<p>Student's age</p>
<input type="number" min="0" max="99" name="age" id="age"/>

<p>Student's class</p>
<select name="class" id="class">
    <option value="A">A</option>
    <option value="B">B</option>
</select>

<p>Pending bills:</p>
<select name="pendingBills" id="pendingBills">
    <option value="true">YES</option>
    <option value="false">NO</option>
</select>

<button id="create-student" class="btn btn-success">Create student</button>